<table class="table table-striped">
    <tr>
        <th>Codigo</th>   
        <th>Nombre</th>  
        <th>Descripcion</th>   
        <th>Marca</th>   
        <th>Familia</th>
        <th>Precio Estetica</th> 
        <th>Precio Publico</th> 
        <th>Precio Taller</th>   
        <th>Operaciones</th>
    </tr>
    <tr *ngFor="let item of productos; let i = index">
        <td>
           {{item.codigo}}
        </td>
        <td>
           {{item.nombre}}
        </td>        
        <td>
           {{item.descripcion}}
        </td>
        <td>
           {{item.marca.nombre}}
        </td>
        <td>
           {{item.familia.nombre}}
        </td>
        <td>
           ${{item.precio_1}}
        </td>
        <td>
            ${{item.precio_2}}
         </td>
         <td>
            ${{item.precio_3}}
         </td>
        <td>
            <button class="btn btn-primary" (click)="modificarProducto(item)"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-primary" (click)="removeProducto(item)"><i class="glyphicon glyphicon-remove-sign"></i></button>
        </td>
    </tr>




</table>