<form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
  <div class="form-group">
    <label for="username">Single ID</label>
    <input type="text" class="form-control" name="singleid" [(ngModel)]="model.Login" #singleid="ngModel" required/>
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="model.Password" #password="ngModel" required/>
  </div>
  <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Login</button>      
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</form>