
.glyphicon{color:#fff;}
.panel{margin-top: 0px;}
.panel-body{background-color:#FFF; border:1px solid#CCC;}
.top-bar {background: #d33125; color: white; padding: 10px; position: relative; overflow: hidden; padding-right:5px;}
.box-position{position: fixed;top: 0; width: 100%;}