<!--<button (click)="pdfmake.open()">Abrir PDF</button>
<button (click)="pdfmake.print()">Imprimir PDF</button>
<button (click)="pdfmake.download()">Descargar PDF</button>-->

<button type="button" title="Abrir PDF" class="btn btn-warning btn-xs" (click)="pdfmake.open()"> <i class="glyphicon glyphicon-copy"></i></button> 
<button type="button" title="Imprimir PDF" class="btn btn-warning btn-xs" (click)="pdfmake.open()"> <i class="glyphicon glyphicon-copy"></i></button> 
<button type="button" title="Descargar PDF" class="btn btn-warning btn-xs" (click)="pdfmake.open()"> <i class="glyphicon glyphicon-copy"></i></button> 