<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>ID</th>   
        <th>Nombre</th>  
        <th>Saldo</th>       
        <th>Empleado</th>       
    </tr>
    <tr *ngFor="let item of clientes | slice:0:7; let i=index" class="dropdown-item">
       <td>
           {{item.id}}
        </td>
        <td>
           {{item.nombre}}
        </td>        
        <td>
           {{item.saldo}}
        </td>
        <td>
                {{item.empleado}}
            </td>
        </tr>




</table>