<div class="container">
    <modal #modal>
      <modal-header [show-close]="true">
        <h4 class="modal-title">Nuevo Proveedor</h4>
      </modal-header>
      <modal-body>
        <formulario-proveedor (onsubmit)="guardar($event)" [model]="proveedor"></formulario-proveedor>
      </modal-body>
      <modal-footer>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.dismiss()">Cerrar</button>
      </modal-footer>
    </modal>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-1">
          <h4>Proveedores</h4> 
        </div>
        <div class="col-md-offset-11">
          <button type="button" class="btn btn-success" (click)="addProveedor()">
            <i class="glyphicon glyphicon-plus"></i></button> Agregar
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-12">
        <listado-proveedores [proveedores]="proveedores" (borrado)='onBorrar($event)' (modificado)='onModificar($event)'></listado-proveedores>
      </div>
    </div>
  </div>