  
    
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-3">
          <h4>Notas de Venta</h4>
        </div>
        <div class="col-md-offset-11">
          <button type="button" title="Nuevo Pedido" class="btn btn-warning btn-lg" routerLink="../pedido-nuevo">
            <i class="glyphicon glyphicon-copy"></i></button> 
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-12">
        <listado-pedidos [idCliente]="idCliente" ></listado-pedidos>
      </div>
    </div>
  </div>